<div class="splash-header">
  <div class="splash-header-secondary">
    <div>
      <%= render 'notice' %>
    </div>
  </div>
  <div class="splash-header-primary">
    <div>
      <% if current_user.admin? %>
        <%= render 'welcome-naja' %>
      <% else %>
        <%= render 'welcome-applicant' %>
      <% end %>
    </div>
  </div>
</div>
<div class="splash-content">
  <div class="splash-content-secondary"></div>
  <div class="splash-content-primary">
    <div>
      <% if current_user.admin? %>
        <%= render 'options-naja' %>
      <% else %>
        <%= render 'options-applicant' %>
      <% end %>
    </div>
  </div>
</div>
<% unless current_user.admin? %>
  <div class="splash-reapply">
    <div class="content">
      <%= render 'reapply' %>
    </div>
  </div>
<% end %>

