<%= form_for @transcript, url: transcripts_path, html: { multipart: true } do |form| %>
  <% if transcript.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transcript.errors.count, "error") %> prohibited this transcript from being saved:</h2>

      <ul>
      <% transcript.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions transcript-create">
    <div>
      <%= form.select :institution_id, options_for_select(
      Institution.where(:submission_id => @submission.id)
        .map{|institution| [institution.name, institution.id]}
      ) %>
    </div>
    <div>
      <%= form.text_field :email, placeholder: 'Email address', :autofocus => true %>
    </div>
    <div><%= form.submit 'Request transcript' %></div>
  </div>
<% end %>

<h2 class="transcripts-previously-submitted">Previously Submitted Transcripts</h2>

<ul>
<% @transcripts.each do |transcript| %>
  <li>
    <%= link_to transcript.institution.name, transcript.upload.url %>
  </li>
<% end %>
</ul>

