<div>
  <%= form.add_nested_fields_link :employments, 'Add employment' %>
  <%= form.nested_fields_for :employments do |employment| %>
    <div>
      <%= employment.text_field :employer, placeholder: 'Employer' %>
    </div>
    <div>
      <%= employment.text_field :title, placeholder: 'Job title' %>
    </div>
    <div>
      <%= employment.label :start, 'From date:' %>
      <%= employment.number_field :start_month, :placeholder => 'Starting month', :required => true %>
      <%= employment.number_field :start_year , :placeholder => 'Starting year', :required => true %>
    </div>
    <div>
      <%= employment.label :end, 'To date:' %>
      <%= employment.number_field :end_month, :placeholder => 'Ending month', :required => true %>
      <%= employment.number_field :end_year, :placeholder => 'Ending year', :required => true %>
    </div>
  <% end %>
</div>

