<div>
  <%= form.add_nested_fields_link :institutions, 'Add college or university' %>
  <%= form.nested_fields_for :institutions do |institution| %>
    <div>
      <%= institution.text_field :name, placeholder: 'Name' %>
    </div>
    <div>
      <%= institution.text_field :degree, placeholder: 'Degree received' %>
    </div>
    <div>
      <%= institution.text_field :gpa, placeholder: 'GPA' %>
    </div>
    <div>
      <%= institution.label :start, 'From date:' %>
      <%= institution.number_field :institution_start_month, :placeholder => 'Starting month', :required => true %>
      <%= institution.number_field :institution_start_year, :placeholder => 'Starting year', :required => true %>
    </div>
    <div>
      <%= institution.label :end, 'To date:' %>
      <%= institution.number_field :institution_end_month, :placeholder => 'Ending month', :required => true %>
      <%= institution.number_field :institution_end_month, :placeholder => 'Ending year', :required => true %>
    </div>
  <% end %>
</div>

