<div class="main">
  <h1>Applicant Submissions</h1>

  <div class="submissions">
    <p id="notice"><%= notice %></p>

    <p>Below is the list of applicant submissions that have been marked as complete by NAJA.</p>

    <p>Please select each one to complete the committee grading.</p>

    <table>
      <thead>
        <tr>
          <th>Applicant</th>
          <th>Submission</th>
          <th>Transcripts</th>
          <th>Recommendations</th>
          <th>Score</th>
          <th>Overall</th>
        </tr>
      </thead>
      <tbody>
        <% @submissions.each do |submission| %>
          <tr>
            <td><%= link_to name(submission), new_evaluation_path(:submission => submission) %></td>
            <td>
              <table class="no-bottom-border">
                <tr><td><%= link_to 'Submission', submission %></td></tr>
                <% s = previous_submission(submission) %>
                <% if s %>
                  <tr><td><%= link_to 'Previous submission', submission_path(s) %></td></tr>
                <% end %>
              </table>
            </td>
            <td>
              <table class="no-bottom-border">
                <% submission.institutions.each do |institution| %>
                  <% if institution.transcript %>
                    <tr><td><%= link_to institution.name, institution.transcript.upload.url %></td></tr>
                  <% end %>
                <% end %>
              </table>
              <table class="no-bottom-border">
                <% if s %>
                  <th>Previous transcript(s)</th>
                  <% s.institutions.each do |institution| %>
                    <% if institution.transcript %>
                      <tr><td><%= link_to institution.name, institution.transcript.upload.url %></td></tr>
                    <% end %>
                  <% end %>
                <% end %>
              </table>
            </td>
            <td>
              <table class="no-bottom-border">
                <% submission.recommendations.each do |recommendation| %>
                  <tr><td><%= link_to recommendation.name, recommendation %></td></tr>
                <% end %>
              </table>
              <% if s %>
                <table class="no-bottom-border">
                  <th>Previous recommendation(s)</th>
                  <% s.institutions.each do |institution| %>
                    <% if institution.transcript %>
                      <tr><td><%= link_to institution.name, institution.transcript.upload.url %></td></tr>
                    <% end %>
                  <% end %>
                </table>
              <% end %>
            </td>
            <td><%= submission.score(current_user) %> / 20</td>
            <td><%= submission.overall %> / 20</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

