<!DOCTYPE html>
<html>
  <head>
    <title>Scholarship</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <header class="navigation" role="banner">
      <ul>
        <li class="nav-link">
          <% if user_signed_in? %>
            <%= link_to('Edit registration', edit_user_registration_path) %>
          <% else %>
            <%= link_to('Register', new_user_registration_path) %>
          <% end %>
        </li>
        <li class="nav-link">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>

